[Desktop Entry]
Name=TurboVNC Viewer
Comment=Connect to a VNC server using the TurboVNC client
Exec=/usr/bin/vncviewer.turbo
Terminal=false
Type=Application
Categories=Network;RemoteAccess
