[Unit]
Description=i2p load-balanced unspoofable packet switching network daemon
After=network.target

[Service]
ExecStart=/usr/bin/i2prouter console
ExecReload=/usr/bin/i2prouter restart
ExecStop=/usr/bin/i2prouter stop

[Install]
WantedBy=multi-user.target
